{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/react-in-jsx-scope": false,
    "react/jsx-filename-extension": false,
    "react/prop-types": false,
    "no-trailing-spaces": "off",
    "linebreak-style": ["error", "windows"]
  }
}
